.newsletter{
  color: #F7F7F7!important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 215px;
  text-align: left;
  /* margin-left: 857px!important;
  margin-bottom: 229.5px!important;
  margin-right: 368px!important;
  margin-top: 83.5px!important;
  position: absolute!important; */
}

.MuiButton-label {
    width: 100%;
    display: block !important;
    align-items: inherit;
    justify-content: inherit;
}

.homeButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 28px;
  display: block;
  width: 96px;
  /* position: absolute!important;
  margin-left:313.5px!important;
  margin-right:1030.5px!important;
  margin-bottom: 244.5px!important;
  margin-top: 68.5px! important; */
}

.logoBottom{
  background-color: #47525E;
  position: absolute;
  width: 100%;
  /* max-width: 1600px; */
  height: 337px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 400px;
  display: flex;
  justify-content: space-between;
}

.box1{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 40px 0px 0px 0px;
}

.box2{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 0px 0px 0px;
}

.box3{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 40%;
  /* align-items: center; */
  padding: 40px 40px 0px 0px;
  justify-items: left;
}

.row1{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}

.boxImage{
  padding: 40px 0px 0px 40px;
}

.logoCriarhBottom{
  background-color: #8190A5;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  /*margin-left: 57.7px;
  margin-bottom: 206px;
  margin-right: 1180.5px;
  margin-top: 68px;
  position: absolute;*/
}

.subscribe{
  background-color: #FFFFFF !important;
  border-radius: 5px;
  width: 220px;
  height: 40px;
  /*position: absolute!important;
  margin-left: 857.5px!important;
  margin-bottom: 169.5px!important;
  margin-right: 329.5px!important;
  margin-top: 123.5px!important;*/
}

.subscribeButton{
  background-color: #FFFFFF!important;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  /* margin-right: 165.5px!important;
  margin-left: 1119.5px!important;
  margin-bottom: 169.5px!important;
  margin-top: 123.5px!important;
  position: absolute!important; */

}

.aboutButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 96px;
  text-align: left;
  display: block;
  /* position: absolute!important;
  margin-left:313.5px!important;
  margin-right:1030.5px!important;
  margin-bottom: 206.5px!important;
  margin-top: 106.5px! important; */
}

.featuresButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 96px;
  text-align: left;
  /* position: absolute!important;
  margin-left:313.5px!important;
  margin-right:1030.5px!important;
  margin-bottom: 167.5px!important;
  margin-top: 145.5px! important; */
}

.pricingButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 96px;
  text-align: left;
  /* position: absolute!important;
  margin-left:313.5px!important;
  margin-right:1030.5px!important;
  margin-bottom: 128.5px!important;
  margin-top: 184.5px! important; */
}

.contactUsButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 110px;
  text-align: left;
  /* position: absolute!important;
  margin-left:482.5px!important;
  margin-right:861.5px!important;
  margin-bottom: 244.5px!important;
  margin-top: 68.5px! important; */
}
.blogButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 110px;
  text-align: left;
  /* position: absolute!important;
  margin-left:482.5px!important;
  margin-right:861.5px!important;
  margin-bottom: 206.5px!important;
  margin-top: 106.5px! important; */
}
.searchButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 110px;
  text-align: left;
  /* position: absolute!important;
  margin-left:482.5px!important;
  margin-right:861.5px!important;
  margin-bottom: 167.5px!important;
  margin-top: 145.5px! important; */
}
.privacyButton{
  color: #F7F7F7 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 110px;
  text-align: left;
  /* position: absolute!important;
  margin-left:482.5px!important;
  margin-right:861.5px!important;
  margin-bottom: 128.5px!important;
  margin-top: 184.5px! important; */
}

.social_midia_icons{
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 25px;
}

.social_midia_icon{
  margin: 0 12px 0 12px ;
  background: #FFFFFF;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.social_midia_icon:hover{
  background-color: #BAF9FF;
}