@import "~bootstrap/scss/bootstrap";

.logo {
  height: 50px;
  width: auto;
}

.container {
  width: 100%;
  margin-left: -15px;

  > img {
    width: 171%;
    height: 842px;
  }
}

.login-container {
  margin-top: -600px;
  margin-left: 26px;

  .login-container-doble {
    background-color: rgba(237, 237, 225, 0.45);
    border-radius: 53px;
    width: 738px;
    height: 299px;
    position: absolute;
  }
}

.footer {
  margin-top: 40px;
}
